@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

:root {
  --font-family: 'Open Sans', sans-serif;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: rgb(234, 231, 220);
  --primary-color: #6482AD;
  --primary-shadow: #3D587D;
  --secondary-color: #7FA1C3;
  --secondary-shadow: #6D90B3;
  --highlight-color: #E98074;
  --highlight-shadow: #E85A4F;
  /* --primary-color: #D8C3A5;
  --primary-shadow: #bba98f;
  --secondary-color: #8E8D8A;
  --secondary-shadow: #777673;
  --highlight-color: #E98074;
  --highlight-shadow: #E85A4F; */
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

/* Enable smooth scrolling for the entire HTML document */
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 1.75rem;
  font-weight: bold;
}

h3 {
  font-size: 1.55rem;
}

h4 {
  font-size: 1.15rem;
}

p {
  font-size: 1.25rem;
}

/* Style for individual skill items */
.icon {
  padding: 1.25rem;
  width: 11.875rem;
  height: 11.25rem;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}