.projects-section {
    background-color: var(--bg-color);
    padding-top: 3rem;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.project-row {
    padding: 1.5rem 0 !important;
    margin: 0 !important;
}

.project-card {
    background-color: var(--bg-accent);
    color: var(--off-white);
    border: 4px;
    border-color: var(--primary-color);
    border-radius: 3px;
    width: 60%;
}

.left {
    margin: 0 !important;
    padding: 0 3rem 0 6rem !important;
    border-top-right-radius: 2.5%;
    border-bottom-right-radius: 2.5%;
}

.right {
    margin: 0 !important;
    padding: 0 6rem 0 3rem !important;
    border-top-left-radius: 2.5%;
    border-bottom-left-radius: 2.5%;
}

@media (max-width: 800px) {
    .project-row {
        justify-content: center;
        /* Centers the Row */
    }

    .project-card {
        width: 90%;
        /* Adjusts card width for mobile screens */
        margin: 1rem auto;
        /* Centers card horizontally */
    }

    .left,
    .right {
        padding: 1.5rem !important;
        /* Uniform padding on mobile */
        border-radius: 7px;
        /* Smaller radius for mobile */
    }
}


.card-body {
    align-self: center;
    text-align: left;
    padding: 1.5rem;
}

.card-title {
    font-size: 2.5rem;
    font-weight: 300;
    padding-bottom: 1rem;
    /* color: var(--primary-color); */
    border-bottom-style: solid;
    border-width: 2px;
    border-color: var(--primary-color);
}

.card-img {
    align-self: center;
    width: 100%;
    height: auto;
    padding: 1rem 0;
}

.card-img-placeholder {
    width: 100%;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-shadow);
    margin: 1.5rem 0;
}

.card-img-placeholder span {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--secondary-color);
}

.btn {
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 5px 25px;
    font-size: 1.25rem;
    font-weight: 350;
    background-color: transparent !important;
    color: var(--primary-color) !important;
    border-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    background-color: var(--primary-color) !important;
    color: var(--bg-accent) !important;
    border: 1px solid var(--primary-color);
}

.btn-disabled {
    color: var(--primary-shadow) !important;
    border-color: var(--primary-shadow) !important;
}