.projects-section {
    padding: 5rem 0;
    background-color: var(--bg-color);
    padding: 0 !important;
    margin: 0 !important;
}

.projects-section h1 {
    border-bottom-style: ridge;
    border-width: 3px;
    border-color: var(--primary-color);
    color: var(--off-white);
}

.project-row {
    padding: 1.5rem 0 !important;
    margin: 0 !important;
}

.project-card {
    background-color: var(--bg-accent);
    color: var(--off-white);
    border: 4px;
    border-color: var(--primary-color);
    border-radius: 3px;
    width: 60%;
}

.left {
    margin: 0 !important;
    padding: 0 3rem 0 6rem !important;
    border-top-right-radius: 2.5%;
    border-bottom-right-radius: 2.5%;
}

.right {
    margin: 0 !important;
    padding: 0 6rem 0 3rem !important;
    border-top-left-radius: 2.5%;
    border-bottom-left-radius: 2.5%;
}

.card-body {
    align-self: center;
    text-align: left;
    padding: 1.5rem;
}

.card-title {
    font-size: 2.5rem;
    color: var(--primary-color);
}

.card-img {
    align-self: center;
    width: 100%;
    height: auto;
    padding: 1rem 0;
}

.card-img-placeholder {
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--off-white);
    border-bottom: 1px solid var(--secondary-color);
    text-align: center;
    padding: 1rem 0; 
    /* TODO: Not working */
}

.card-img-placeholder span {
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: bold;
}

.card-text {
    font-size: larger;
}




.btn {
    background-color: var(--primary-color);
    color: var(--off-white);
}