.hero-section {
	position: relative;
	height: 100vh;
	overflow: hidden;
	color: var(--off-white);
	background-color: var(--bg-color);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	overflow-x: hidden;
}

canvas {
	display: block;
	width: 100vw !important;
	height: 100vh;
	max-width: 100%;
	overflow-x: hidden;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}

.canvas-fade-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5vh;
	pointer-events: none;
	background: linear-gradient(to top, var(--bg-color), transparent);
	z-index: 0;
}

.hero-name {
	margin: 0 !important;
	border: none !important;
	padding: 0 !important;
	color: var(--off-white);
}

.highlighted-name {
	color: var(--primary-color);
}

.hero-title {
	color: var(--secondary-color);
	font-weight: 350;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.scroll-button {
	padding: 5px 25px;
	font-size: 1.25rem;
	background-color: transparent !important;
	color: var(--primary-color) !important;
	border-color: var(--primary-color);
	border: 1px solid var(--primary-color);
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

.scroll-button:hover {
	background-color: var(--primary-color) !important;
	color: var(--off-white) !important;
	border: 1px solid var(--primary-color);
}
