.about-section {
	padding-top: 10vh;
	padding-left: 6rem;
	padding-right: 6rem;
}

/* On small screens, reduce side padding */
@media (max-width: 800px) {
	.about-section {
		padding: 1rem 1.5rem 0 1.5rem !important;
	}
}

.about-image {
	border-radius: 5%;
	box-shadow: 0 5px 8px rgba(163, 163, 163, 0.1);
	max-width: 15rem;
	align-self: center;
	height: auto;
}

.skill-card {
	background-color: transparent;
	border: 2px solid var(--primary-color);
	border-radius: 12px;
	padding: 1rem;
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
	transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.2s ease;
	background-image: linear-gradient(
		45deg,
		var(--bg-accent),
		var(--primary-shadow)
	);
	will-change: transform, border-color;
}

.skill-card:hover {
	transform: scale(1.15);
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.35);
	border-color: var(--bg-color);
}

.icon {
	max-width: 75px;
	height: auto;
	transition: transform 0.3s ease;
	will-change: transform;
}

.skill-card:hover .icon {
	transform: scale(1.15);
}
