@media (max-width: 800px) {
	.custom-navbar {
		display: none !important;
	}
}

.custom-navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100vw;
	z-index: 1000;
	background-color: var(--bg-accent);
	box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.2);
	opacity: 0;
	transform: translateY(-100%);
	transition: opacity 0.4s ease, transform 0.4s ease;
}

.navbar-visible {
	opacity: 1;
	transform: translateY(0);
}

.navbar-hidden {
	opacity: 0;
	transform: translateY(-100%);
	pointer-events: none;
}

.navbar {
	font-size: 1.25rem;
	color: var(--off-white);
	width: 100%;
}

.navContainer {
	padding: 0 0 0 1rem !important;
	width: 100vw;
}

.sticky {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100vw;
	background-color: var(--bg-accent);
	box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease-in-out;
	z-index: 1000;
}

.nav-link {
	padding: 0 1rem !important;
	margin: 0 0.25rem !important;
	border-radius: 8px;
	transition: background-color 0.3s ease;
	cursor: pointer;
	color: var(--off-white);
}

.nav-link:hover {
	background-color: var(--bg-color);
	color: var(--primary-color);
}

.nav-link.active {
	background-color: var(--primary-color);
}
