.mobile {
    position: relative;
    background-color: transparent;
    transition: all 0.1s ease-in-out;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--bg-accent);
    /* Darker background */
    box-shadow: 0 5px 3px 0 rgba(0, 0, 0, .2);
    transition: all 0.3s ease-in-out;
    z-index: 1000;
}

.navbar {
    font-size: 1.25rem;
    color: var(--off-white);
    /* Off-white text color */
}

.nav-link {
    padding: 0 15px;
    margin-right: 1.5rem;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    color: var(--off-white);
}

/* Change background on hover */
.nav-link:hover {
    background-color: var(--bg-color);
    color: var(--primary-color);
    /* Slightly transparent white */
}

/* Optional: Adjust the active link style */
.nav-link.active {
    background-color: var(--primary-color);
    /* Active link highlight */
}