.footer {
	background-color: var(--bg-accent);
	color: var(--off-white);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem 0;
	width: 100%;
}

.icon-links {
	display: flex;
	gap: 1.5rem;
	margin-bottom: 0.5rem;
}

.icon-links a img {
	width: 2rem;
	height: 2rem;
	transition: transform 0.3s;
}

.icon-links a img:hover {
	transform: scale(1.1);
}

.footer p {
	color: var(--secondary-shadow);
	margin: 0;
	font-size: 0.875rem;
	font-weight: 350;
}
